<app-spinner *ngIf="loading"></app-spinner>
<div class="container" *ngIf="!loading">
    <h1 class="my-4">
      <small>{{product?.attributes.name}}</small>
    </h1>
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid" src="{{product?.attributes.image}}" alt="{{product?.attributes.name}}">
      </div>
      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>{{product?.attributes.description}}</p>
        <h3 class="my-3">Details</h3>
        <ul>
          <li>{{product?.attributes.name}}</li>
          <li>{{product?.attributes.price | currency: 'SEK'}}</li>
        </ul>
        <button class="btn btn-primary btn-block" (click)="goBack()">Back to products</button>
      </div>
    </div>
  </div>